<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dsouchon.myapplication" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.NFC" android:required="false"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera" />

    <!--
     To retrieve OAuth 2.0 tokens or invalidate tokens to disconnect a user. This disconnect
     option is required to comply with the Google+ Sign-In developer policies
    -->


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="MiiD Event Management"
        android:theme="@style/AppTheme"
        android:name=".GlobalClass"
        android:supportsRtl="true">

        <activity
            android:name=".MainLogin"
            android:label="Mii-D ONLINE TICKETING"
            >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>




        <activity
            android:name=".MySOAPCallActivity"
            android:label="@string/title_activity_my_soapcall" >
        </activity>
        <activity
            android:name=".MainActivity2"
            android:label="@string/title_activity_my_soapcall" >
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_my_soapcall" >
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".MainActivity21"
            android:label="SCAN TAGS" >
        </activity>

        <activity
            android:name=".UserInfo"
            android:label="Get User Information" >
        </activity>
        <activity
            android:name=".SetupEvent"
            android:label="SETUP EVENT"
            >

        </activity>
        <activity
            android:name=".GuestlistActivity"
            android:label="GUEST LIST"
            />

        <activity
            android:name=".BarcodeScanner"
            android:label="Scan Barcode"
            >

        </activity>
        <activity
            android:name=".CustomScannerActivity"
            android:label="Scan Barcode"
            >

        </activity>


    </application>

</manifest>
